.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
resultados_consulta_2022_08_02.xlsx
Concorrentes.xlsx
Documentação_e_Dicionário_de_Dados_Produto_para_Saúde_V1.0.pdf
completo_resultados_consulta_ 2022-08-10 .xlsx
resultados_consulta_ 2022-08-10 .xlsx
script.R
